*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-ldpi/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xhdpi/
circleimageview/build/generated/assets/
circleimageview/build/generated/res/
circleimageview/build/generated/source/aidl/
circleimageview/build/generated/source/apt/
circleimageview/build/generated/source/buildConfig/release/
circleimageview/build/generated/source/r/androidTest/debug/de/hdodenhof/circleimageview/R.java
circleimageview/build/generated/source/r/release/
circleimageview/build/generated/source/rs/
circleimageview/build/intermediates/annotations/
circleimageview/build/intermediates/bundles/debug/aidl/
circleimageview/build/intermediates/bundles/debug/assets/
circleimageview/build/intermediates/bundles/debug/classes.jar
circleimageview/build/intermediates/bundles/debug/jni/
circleimageview/build/intermediates/bundles/debug/libs/
circleimageview/build/intermediates/bundles/release/R.txt
circleimageview/build/intermediates/bundles/release/aidl/
circleimageview/build/intermediates/bundles/release/assets/
circleimageview/build/intermediates/bundles/release/classes.jar
circleimageview/build/intermediates/bundles/release/jni/
circleimageview/build/intermediates/bundles/release/libs/
circleimageview/build/intermediates/classes/
circleimageview/build/intermediates/dependency-cache/
circleimageview/build/intermediates/incremental-safeguard/
circleimageview/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
circleimageview/build/intermediates/incremental/mergeDebugJniLibFolders/
circleimageview/build/intermediates/incremental/mergeReleaseJniLibFolders/
circleimageview/build/intermediates/incremental/packageDebugAndroidTest/
circleimageview/build/intermediates/incremental/packageDebugResources/aapt-temp/
circleimageview/build/intermediates/incremental/packageReleaseResources/aapt-temp/
circleimageview/build/intermediates/incremental/processDebugAndroidTestResources/
circleimageview/build/intermediates/incremental/processDebugResources/
circleimageview/build/intermediates/incremental/processReleaseResources/
circleimageview/build/intermediates/jniLibs/
circleimageview/build/intermediates/lint/
circleimageview/build/intermediates/manifest/tmp/
circleimageview/build/intermediates/rs/
circleimageview/build/intermediates/shaders/
circleimageview/build/intermediates/transforms/
circleimageview/build/intermediates/typedefs.txt
circleimageview/build/tmp/
Would skip repository project/
